@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Default</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">框架介绍 <span class="label label-primary label-sm">New</span></h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <p style="text-indent: 25px;">她前端搭载经典模块化框架Layui，服务端以轻量高效的相关框架为支撑，构建了一套只包含基础功能的轻量级管理系统。简洁高效会是她始终追求的目标。</p>
                        <p style="text-indent: 25px;">在这个烦躁的社会，很少有人会了解每个开源项目。或许你只需要一个基础框架，有自己需要实现的业务代码，不需要过多复杂的功能。她更像一个刚出生的婴儿，等你来帮助她成长。</p>
                        <p style="text-indent: 25px;">她虽然不是多么优秀的作品，但也是作者的用心之作。项目框架通熟易懂，代码规范、注释完善。尽管目前还不够成熟，但完全可用以学习交流。这也是她的使命。</p>
                    </div>
                </div>
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">功能介绍</h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Elight.MVC是一套基于ASP.NET MVC5 + Layui 开发的通用管理系统快速开发框架。</p>
                        <p>操作界面简洁、项目结构清晰、模块化设计、支撑框架高效。</p>
                        <p>目前完成框架搭建和实现基础功能，代码层级分离，注释完整，可快速重构，提高开发效率。</p>
                        <p>支持SQL Server、SQL Server CE、MySQL、PostgreSQL和Oracle等多种数据库类型。</p>
                        <p>权限设计采用RBAC模式，对请求链接进行权限验证，具体可控制到左侧菜单和功能按钮。</p>
                        <p>该解决方案适用于OA、电商平台、CRM、物流管理、教务管理等各类管理系统开发。</p>
                        <p>兼容除IE8以下所有浏览器，暂不支持移动端，后续会支持以及添加更多功能。</p>
                    </div>
                </div>
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">更新日志</h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="layui-collapse">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">
                                    <span class="label label-primary">v1.0.0</span>
                                    <span class="right">更新于2017年07月12日</span>
                                </h2>
                                <div class="layui-colla-content">
                                    <p>Elight.MVC 正式开源</p>
                                    <p>已完成功能：账户管理、用户管理、角色管理、权限管理、机构管理、数据字典、操作日志。</p>
                                    <p>其他功能还在开发中，敬请期待...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">开发组件</h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <!-- 后端技术 -->
                        <span class="label label-default label-round label-outline">ASP.NET MVC5</span>
                        <span class="label label-default label-round label-outline">ASP.NET WEB API2</span>
                        <span class="label label-default label-round label-outline">PetaPoco</span>
                        <span class="label label-default label-round label-outline">Autofac</span>
                        <span class="label label-default label-round label-outline">NLog</span>
                        <!--前端技术-->
                        <span class="label label-default label-round label-outline">Layui</span>
                        <span class="label label-default label-round label-outline">Select2</span>
                        <span class="label label-default label-round label-outline">zTree</span>
                        <span class="label label-default label-round label-outline">Echarts</span>
                    </div>
                </div>
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">开源项目</h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="layui-table">
                            <tbody>
                                <tr>
                                    <td>框架名称</td>
                                    <td>Elight.MVC</td>
                                </tr>
                                <tr>
                                    <td>当前版本</td>
                                    <td>v1.0.0</td>
                                </tr>
                                <tr>
                                    <td>开源地址</td>
                                    <td>
                                        <a class="github-button" href="https://github.com/esofar/elight.mvc" data-show-count="true" aria-label="Star esofar/elight.mvc on GitHub">Star</a>
                                        <a class="github-button" href="https://github.com/esofar/elight.mvc/subscription" data-show-count="true" aria-label="Watch esofar/elight.mvc on GitHub">Watch</a>
                                        <a class="github-button" href="https://github.com/esofar/elight.mvc/fork" data-show-count="true" aria-label="Fork esofar/elight.mvc on GitHub">Fork</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>支持开源</td>
                                    <td>
                                        <a onclick="parent.window.$('.btn-donate').click();" target="_blank" class="layui-btn layui-btn-mini layui-btn-radius layui-btn-warm">我要打赏</a>
                                        <a href="http://fly.layui.com/case/2017/" target="_blank" class="layui-btn layui-btn-mini layui-btn-radius layui-btn-danger">我要点赞</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>作者博客</td>
                                    <td><a target="_blank" href="https://www.cnblogs.com/esofar/">https://www.cnblogs.com/esofar/</a></td>
                                </tr>
                                <tr>
                                    <td>开发交流</td>
                                    <td><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e095a76df5cd44a2a6faa17cd1374aed03b2fa2bb98e54de9b71a3f4ce6494e7">
                                        <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Elight.MVC开发交流群" title="Elight.MVC开发交流群"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">赞助开源</h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="layui-table" lay-skin="nob">
                            <thead>
                                <tr>
                                    <th>捐赠者</th>
                                    <th>金额</th>
                                    <th>方式</th>
                                    <th>时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>大飞</td>
                                    <td>¥66.00</td>
                                    <td><span class="label label-primary label-sm">微信</span></td>
                                    <td>2017-07-12</td>
                                </tr>
                                <tr>
                                    <td>Gadnr</td>
                                    <td>¥09.99</td>
                                    <td><span class="label label-primary label-sm">微信</span></td>
                                    <td>2017-07-12</td>
                                </tr>
                                <tr>
                                    <td>匿名</td>
                                    <td>¥20.00</td>
                                    <td><span class="label label-info label-sm">支付宝</span></td>
                                    <td>2017-07-12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="~/Content/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element'], function () {
        var element = layui.element();
    });
</script>
