@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>字典选项列表</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <link href="~/Content/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
    <script src="~/Content/ztree/js/jquery.ztree.all.min.js"></script>
</head>
<body>
    <div class="container-fluid fadeIn animated">
        <div class="row">
            <div class="col-md-3">
                <div class="elight-panel container-panel">
                    <ul id="treeItem" class="ztree"></ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel container-panel">
                    <div class="panel-body">
                        <div id="toolbar" class="elight-table-toolbar">
                            <div class="layui-btn-group"></div>
                            <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <div class="toolbar-search-input">
                                <input type="text" id="keyWord" placeholder="选项名称或编码" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <table id="gridList" class="layui-form layui-table elight-table" lay-skin="line">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" lay-skin="primary"></th>
                                    <th>编码</th>
                                    <th>名称</th>
                                    <th>排序码</th>
                                    <th>默认值</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <!--内容容器-->
                            <tbody id="content"></tbody>
                        </table>
                        <div id="paged"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--内容模板-->
<script id="contentTpl" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
  <tr>
      <td>
          <input type="checkbox" lay-skin="primary" value="{{item.Id}}"></td>
      <td>{{# if(item.EnCode==null){ }}
          {{# }else{ }}{{item.EnCode}}
          {{# } }}
      </td>
      <td>{{item.Name}}</td>
      <td>{{item.SortCode}}</td>
      <td>{{# if(item.IsDefault==true){ }}  <span class="label label-success label-sm">是</span>
          {{# }else{ }}  <span class="label label-dark label-sm">否</span>
          {{# } }}
      </td>
      <td>{{# if(item.IsEnabled==true){ }}  <span class="label label-success label-sm">启用</span>
          {{# }else{ }}  <span class="label label-dark label-sm">禁用</span>
          {{# } }}
      </td>
  </tr>
    {{#  }); }}
     {{# if(d.list.length<=0) { }}
        <tr style="color: red">
            <td colspan="6">查无数据。</td>
        </tr>
    {{# } }}
</script>

<script type="text/javascript">
    var paging;
    layui.config({
        base: parent._baseUrl
    }).use(['paging', 'form'], function () {
        var form = layui.form();
        paging = layui.paging();

        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            },
            check: {
                enable: false,
                chkStyle: "checkbox",
                chkDisabledInherit: false
            },
            async: {
                enable: true,
                url: "/System/Item/GetListTree",
                dataType: "text",
                autoParam: ["id", "name"]
            }, callback: {
                onAsyncSuccess: function (event, treeId, treeNode, msg) {
                    var node = zTreeObj.getNodesByFilter(function (node) {
                        return node.level == 1
                    }, true);
                    zTreeObj.selectNode(node);
                    zTreeObj.setting.callback.onClick(event, zTreeObj.setting.treeId, node);
                },
                onClick: function (event, treeId, treeNode) {
                    initGrid();
                }
            }
        };

        var zTreeObj = $.fn.zTree.init($("#treeItem"), setting);

        $("#toolbar").authorizeButton();
        $('#btnSearch').click(initGrid);
        $('#keyWord').bindEnterEvent(initGrid);
    });

    function initGrid() {

        var treeObj = $.fn.zTree.getZTreeObj("treeItem");
        var selectedNode = treeObj.getSelectedNodes()[0];
        if (selectedNode.level == 0) {
            return;
        }

        paging.init({
            url: '/System/ItemsDetail/Index',
            elem: '#content',
            tempElem: '#contentTpl',
            params: {
                keyWord: $("#keyWord").val(),
                itemId: selectedNode.id
            },
            pageConfig: {
                elem: '#paged',
                pageSize: 10,
            },
            success: function () {

            },
            fail: function (msg) {
                top.layer.msg(msg);
            }
        });
    }

    function btn_manage() {
        $.layerOpen({
            id: "manage",
            title: "分类管理",
            width: "950px",
            height: "550px",
            content: "/System/Item/Index",
            btn: null
        });
    }

    function btn_add() {
        var node = $.fn.zTree.getZTreeObj("treeItem").getSelectedNodes()[0];
        $.layerOpen({
            id: "add",
            title: "新增选项",
            width: "670px",
            height: "260px",
            content: "/System/ItemsDetail/Form?itemId=" + node.id,
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_edit() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录修改。", "warning");
            return;
        }
        $.layerOpen({
            id: "edit",
            title: "修改选项",
            width: "670px",
            height: "260px",
            content: "/System/ItemsDetail/Form?primaryKey=" + ids[0],
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }
    function btn_delete() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length < 1) {
            $.layerMsg("请勾选需要删除的选项。", "warning");
            return;
        }
        $.layerConfirm({
            content: "您已选中" + ids.length + "条数据, 确定删除吗？",
            callback: function () {
                $.formSubmit({
                    url: '/System/ItemsDetail/Delete',
                    data: { primaryKey: ids[0] },
                    success: function () {
                        initGrid();
                    }
                });
            }
        });
    }
    function btn_detail() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录查看。", "warning");
            return;
        }
        $.layerOpen({
            id: "detail",
            title: "查看选项",
            width: "670px",
            height: "330px",
            content: "/System/ItemsDetail/Detail?primaryKey=" + ids[0],
            btn: null
        });
    }

</script>

