@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
    <link rel="bookmark" type="image/ico" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/css/console.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script src="~/Content/global.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
